* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

textarea {
  resize: none;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
}

button {
  border: none;
}

button,
button:focus {
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #302c42;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #302c42;
}

body::-webkit-scrollbar-thumb {
  background-color: #a399cd;
  border-radius: 6px;
}

/* UI */
.button {
  border-radius: 40px;
  width: 154px;
  height: 48px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button:active {
  -webkit-animation: button_tap 0.1s linear;
  animation: button_tap 0.1s linear;
}

@-webkit-keyframes button_tap {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 1px 2px 2px #000000;
    box-shadow: 1px 2px 2px #000000;
  }
}

@keyframes button_tap {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 1px 2px 2px #000000;
    box-shadow: 1px 2px 2px #000000;
  }
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.button:disabled:hover,
.button:disabled:focus {
  opacity: 0.7;
  cursor: default;
  background: initial;
  border: initial;
}

.button.gradient_variant {
  background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
  background: -o-linear-gradient(left, #8176af 0%, #c0b7e8 100%);
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button.gradient_variant:hover {
  background: -o-linear-gradient(60deg, #8176af 0%, #c0b7e8 100%);
  background: linear-gradient(30deg, #8176af 0%, #c0b7e8 100%);
}

.button.white_variant {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  background-image: -o-linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.button.white_variant:hover {
  background-position: 0;
  color: #000000;
  -webkit-box-shadow: 1px 2px 2px #000000;
  box-shadow: 1px 2px 2px #000000;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.heading span {
  color: #8176af;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1270px;
}

@media screen and (max-width: 1290px) {
  .container {
    padding: 0 23px;
  }
}

.input {
  padding: 27px 42px;
  border-radius: 40px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .input {
    padding: 18px 29px;
    font-size: 14px;
  }
}

.input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus::-moz-placeholder {
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

.textarea {
  border-radius: 40px;
  padding: 27px 42px;
  border: 2px solid #fff;
  min-height: 210px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .textarea {
    padding: 18px 29px;
    font-size: 14px;
  }
}

.textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.textarea::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.textarea:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.textarea::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.textarea::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.textarea:focus::-moz-placeholder {
  opacity: 0;
}

.textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.textarea:focus::placeholder {
  opacity: 0;
}

/* Slider */
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 30px !important;
  height: 30px !important;
  background: #2a263d;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px !important;
  font-weight: bold;
}

.swiper-button-wrapper {
  position: absolute;
  top: 50%;
  z-index: 1;
  background: #0e0e0e52;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
  width: 62px;
  height: 62px;
}

.swiper-button-wrapper .button-prev__content,
.button-next__content {
  background: -o-linear-gradient(182deg, #c0b7e8 0%, #8176af 100%);
  background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.swiper-button-wrapper .button-prev__content svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-button-wrapper.button_next {
  right: 6px;
}

.swiper-button-wrapper.button_prev {
  left: 6px;
}

/* Header */
.header {
  padding-top: 50px;
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 25px;
  }
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 16px auto 16px auto;
  -ms-grid-columns: max-content 16px auto 16px auto;
  grid-template-columns: -webkit-max-content auto auto;
  grid-template-columns: max-content auto auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 969px) {
  .header__container {
    -ms-grid-columns: -webkit-max-content auto;
    -ms-grid-columns: max-content auto;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
  }
}

@media screen and (max-width: 500px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.logo img:first-child {
  height: 103px;
}

@media screen and (max-width: 1100px) {
  .logo img:first-child {
    height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .logo img:first-child {
    height: 60px;
  }

  .logo img:last-child {
    width: 46px;
    height: 28px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.nav__link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #8176af;
}

@media screen and (max-width: 1100px) {
  .nav {
    gap: 24px;
  }
}

@media screen and (max-width: 624px) {
  .nav {
    -webkit-transform: translate(200%);
    -ms-transform: translate(200%);
    transform: translate(200%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25% 10% 10%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    z-index: 999;
    background: #2a2639;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav.open {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 38px;
}

@media screen and (max-width: 1100px) {
  .header__buttons {
    gap: 19px;
  }
}

@media screen and (max-width: 969px) {
  .header__buttons {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__buttons {
    display: none;
  }
}

.burger_menu {
  width: 33px;
  height: 26px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 7px;
  display: none;
}

@media screen and (max-width: 624px) {
  .burger_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
  }
}

.burger_menu span {
  height: 4px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#c0b7e8), to(#8176af));
  background: -o-linear-gradient(left, #c0b7e8 0%, #8176af 100%);
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.burger_menu span:nth-child(2) {
  width: 70%;
}

.burger_menu.open span:nth-child(2) {
  display: none;
}

.burger_menu.open span {
  background: #c73d3d;
}

.burger_menu.open span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -11px;
}

.burger_menu.open span:last-child {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-bottom: 10px;
}

/* About */
.about__line_wrapper {
  position: relative;
}

.about .line {
  position: absolute;
  z-index: -1;
}

.about .line:first-child {
  top: -150px;
  right: 0;
}

.about .line:nth-child(2) {
  right: 0;
}

.about .line:nth-child(3) {
  right: 0;
  top: 30%;
}

.about_preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 30%;
  grid-template-columns: 45% 30%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 124px;
}

@media screen and (max-width: 500px) {
  .about_preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 54px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.about_preview__content {
}

.about_preview__content .text_with_arrow__chevron {
  gap: 16px;
}

.about_preview__content p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 36px 0 66px;
}

@media screen and (max-width: 500px) {
  .about_preview__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 36px;
    margin-top: 30px;
  }

  .about_preview__content .heading {
    text-align: center;
  }

  .about_preview__content p {
    display: none;
  }

  .about_preview__content button {
    width: 100%;
  }
}

.about_preview .ellipse_wrapper {
  background: #00000021;
  border-radius: 100px 100px 100px 240px;
  padding: 12px;
  overflow: hidden;
  max-height: 426px;
  position: relative;
}

.about_preview .ellipse_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 100px 100px 100px 240px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .about__wrapper {
    margin-bottom: 26px;
  }
}

.about__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20% 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20%;
}

@media screen and (max-width: 500px) {
  .about__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.about__block:nth-child(2) .about__block_text {
  margin: 42px 0 28px;
}

.about__block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.about__block_content p {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .about__block_content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
  }

  .about__block_content p {
    font-size: 26px;
  }
}

.text_with_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.text_with_arrow:hover .arrow_line {
  width: 30px;
}

.text_with_arrow__chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .text_with_arrow__chevron {
    display: none;
  }
}

.text_with_arrow .arrow_line {
  width: 50px;
  height: 3px;
  background: #c0b7e8;
  margin-right: -16px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.text_with_arrow svg {
  fill: #c0b7e8;
  width: 25px;
  height: 25px;
}

.about__block_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.about__block_text.about_hydra {
  margin: 42px 0 28px;
}

@media screen and (max-width: 500px) {
  .about__block_text {
    display: none;
  }
}

.about__block_with_picture {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about__block_with_picture .line {
  position: absolute;
  z-index: -1;
  left: 0;
}

.about__block_with_picture .line:first-child {
  top: 25%;
}

.about__block_with_picture .line:last-child {
  top: 35%;
}

.about__block_with_picture .ellipse {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #a3a3a3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 240px 100px 240px 100px;
  overflow: hidden;
  width: 100%;
  height: 557px;
}

.about__block_with_picture .ellipse img {
  width: 100%;
  height: 100%;
}

.about__block_with_picture .about__block {
  -ms-grid-columns: 1.5fr 10% 2fr;
  grid-template-columns: 1.5fr 2fr;
  gap: 10%;
}

.about__block_with_picture .about__content {
  padding-top: 47px;
}

.about_placing_swiper .swiper-button-next,
.about_placing_swiper .swiper-button-prev {
  top: 55%;
}

@media screen and (max-width: 955px) {
  .about__block_with_picture .about__block {
    -ms-grid-columns: 2fr 1.5fr;
    grid-template-columns: 2fr 1.5fr;
  }
}

@media screen and (max-width: 768px) {
  .about__block_with_picture .about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__block_with_picture .button {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .about__block_with_picture .line {
    display: none;
  }

  .about__block_with_picture .button {
    margin: 0 auto;
  }

  .about__block_with_picture .about__block_text {
    display: block;
    margin: 0 0 34px 0;
  }

  .about__block_with_picture .about__block_content {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about__block_with_picture .ellipse {
    border-radius: 60px 140px 60px 140px;
    height: 367px;
  }
}

.placing_variants {
  background: -o-radial-gradient(50% 53.89%, 50% 2900.76%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  border-radius: 90px;
  padding: 0; /* hz */
  margin: 88px 0 90px;
}

.placing_variants__container {
  width: 100%;
  padding: 48px 39px 48px 0;
  position: relative;
  overflow: hidden;
}

.placing_variants__container .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 500px) {
  .placing_variants__container {
    padding: 0;
  }
}

.placing_variants_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-left: 39px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-right: 1px solid rgba(192.14, 183.37, 231.63, 0.33);
}

@media screen and (max-width: 1180px) {
  .placing_variants_item {
    border-right: 0;
  }
}

.placing_variants__container .swiper-slide:first-child .placing_variants_item {
  padding-right: 40px;
}

.placing_variants__container .swiper-slide:nth-child(2) .placing_variants_item {
  padding-right: 66px;
}

.placing_variants__container .swiper-slide:last-child .placing_variants_item {
  border-right: 0;
}

.placing_variants_item h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.placing_variants_item p {
  font-size: 14px;
  font-weight: 400;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.placing_variants_item p br {
  display: none;
}

@media screen and (max-width: 900px) {
  .placing_variants_item p br {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .placing_variants_item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .placing_variants_item img {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 500px) {
  .placing_variants_item {
    border: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    padding: 21px 0;
  }

  .placing_variants_item p {
    width: auto;
  }

  .placing_variants_item h6 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .about_placing_swiper .swiper-button-next,
  .swiper-button-prev {
    top: 55% !important;
  }

  .about_placing_swiper .swiper-button-next {
    right: 2px;
  }

  .about_placing_swiper .swiper-button-prev {
    left: 2px;
  }

  .placing_variants_item {
    padding-left: 20px;
  }

  .placing_variants_item img {
    width: 36px;
    height: 36px;
  }
}

.services_technologies_wrapper {
  position: relative;
}

.services_technologies_wrapper .line {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

/* Services */
.services_section {
  position: relative;
}

.services {
  overflow: hidden;
}

.services .swiper-button-wrapper.button_next {
  right: 0;
}

.services .swiper-button-wrapper.button_prev {
  left: 0;
}

.services .swiper-slide {
  border-radius: 40px;
}

.services__card {
  background: -o-radial-gradient(
    1677721515.63% 1677721417.09%,
    100% 100%,
    #433d60 0%,
    #211e2e 100%
  );
  background: radial-gradient(100% 100% at 1677721515.63% 1677721417.09%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
  padding: 23px 35px 40px 25px;
}

.services__card_image {
  width: 219px;
  height: 219px;
  overflow: hidden;
  border-radius: 50%;
  background: #0e0e0e52;
  padding: 15px;
  margin: 0 auto 21px;
}

.services__card_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.services__card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__card_title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 17.5px;
  border-bottom: 1px solid rgba(192.14, 183.37, 231.63, 0.33);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.services__card_description {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 21px 0 35px;
}

.services__card button {
  display: block;
  margin: 0 auto;
}

/* Technologies */
.technologies_preview {
  background: #211e2e;
  -webkit-box-shadow: 0 4px 4px rgba(192.14, 183.37, 231.63, 0.01);
  box-shadow: 0 4px 4px rgba(192.14, 183.37, 231.63, 0.01);
  position: relative;
  height: 300px;
  border-radius: 160px;
  margin-top: 114px;
}

@media screen and (max-width: 500px) {
  .technologies_preview {
    height: 164px;
    border-radius: 60px;
    overflow: hidden;
    margin-top: 56px;
  }
}

.technologies_preview__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 160px;
}

@media screen and (max-width: 500px) {
  .technologies_preview__wrapper {
    border-radius: 60px;
  }
}

.technologies_preview__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.technologies_preview__background img {
  width: 100%;
  height: 100%;
}

.technologies_preview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.technologies_preview__content .heading {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .technologies_preview__content .heading {
    font-size: 16px;
  }
}

.technologies_preview__content_subtitle {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .technologies_preview__content_subtitle {
    font-size: 24px;
  }
}

.technologies_preview__button_wrapper {
  background: #0e0e0e52;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .technologies_preview__button_wrapper {
    width: 72px;
    height: 72px;
    bottom: -32px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .technologies_preview__button_wrapper {
    display: none;
  }
}

.technologies_preview__button {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -o-linear-gradient(182.39deg, #c0b7e8 -0.6%, #8176af 98.31%);
  background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .technologies.container {
    padding: 0;
  }

  .technologies .button_next {
    right: 2px;
  }

  .technologies .button_prev {
    left: 2px;
  }
}

.technologies_list {
  margin-top: 4px;
  position: relative;
  overflow: hidden;
}

.technologies_list .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 252px;
}

/* How to */
.how_to {
  padding-top: 83px;
}

@media screen and (max-width: 500px) {
  .how_to {
    padding-top: 71px;
  }

  .how_to .container {
    padding: 0;
  }

  .how_to .button_next {
    right: 2px;
  }

  .how_to .button_prev {
    left: 2px;
  }
}

.how_to .heading {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .how_to .heading {
    text-align: center;
    font-size: 26px;
  }
}

.how_to .about__block_content {
  gap: 15px;
}

.how_to .about__block {
  -ms-grid-columns: 1.5fr 2fr;
  grid-template-columns: 1.5fr 2fr;
}

@media screen and (max-width: 500px) {
  .how_to .about__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/* Steps */

.steps {
  position: relative;
  margin-top: 84px;
}

.steps__container {
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.steps__container .swiper-button-wrapper {
  top: 75%;
}

@media screen and (max-width: 500px) {
  .steps__container {
    margin-top: 36px;
  }
}

.steps__background {
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
}

@media screen and (max-width: 868px) {
  .steps__background {
    display: none;
  }
}

.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .steps__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .steps__item {
    gap: 37px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.steps__item_count {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  padding: 19.5px;
  background: #0d0d0d52;
}

.steps__item_text {
  color: #343045;
  font-size: 64px;
  font-weight: 700;
  border-radius: 50%;
  background: -o-linear-gradient(199deg, #c0b7e8 0%, #8176af 100%);
  background: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.steps__item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .steps__item_content img {
    display: none;
  }

  .steps__item_content p {
    text-align: center;
  }
}

.steps__item_content p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

/* Contact us form */
.join_form_wrapper {
  padding: 90px 110px 84px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #403a5f 0%, #211e2e 100%);
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin: 120px 0;
}

@media screen and (max-width: 768px) {
  .join_form_wrapper {
    padding: 60px 36px 65px;
    margin: 92px 0;
  }
}

@media screen and (max-width: 500px) {
  .join_form_wrapper {
    padding: 45px 21px 65px;
    margin: 80px 0;
  }
}

.join_form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.join_form__content_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 30px;
}

.join_form__content_divider {
  width: 35%;
  border-radius: 95%;
  height: 1px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#343045),
    color-stop(34.9%, #c0b7e8),
    color-stop(68.75%, #8176af),
    to(#343045)
  );
  background: -o-linear-gradient(right, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
  background: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
}

.join_form__content_subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin-top: 21px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .join_form__content_title {
    font-size: 24px;
    padding-bottom: 21px;
  }

  .join_form__content_subtitle {
    font-size: 24px;
    text-align: center;
  }
}

.join_form {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .join_form {
    margin-top: 36px;
    gap: 22px;
  }

  .join_form button {
    width: 100%;
  }
}

.join_form_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .join_form_item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

.join_form input,
textarea {
  width: 100%;
}

/* Footer */
.footer {
  position: relative;
}

.footer .line {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

.footer .line:first-child {
  top: -85%;
}

.footer .line:nth-child(2) {
  top: -10%;
}

@media screen and (max-width: 500px) {
  .footer .line:first-child {
    top: 3%;
  }

  .footer .line:nth-child(2) {
    top: -5%;
  }
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content auto -webkit-max-content;
  -ms-grid-columns: max-content auto max-content;
  grid-template-columns: -webkit-max-content auto -webkit-max-content;
  grid-template-columns: max-content auto max-content;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 76px;
}

@media screen and (max-width: 650px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .footer__logo {
    height: 120px;
  }

  .footer__logo img {
    width: 100%;
    height: 100%;
  }
}

.footer__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 890px) {
  .footer__nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .footer__nav_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer__nav_list .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav_list .block:first-child .footer__nav {
  padding: 0 104px 0 80px;
}

.footer__nav_list .block:last-child .footer__nav {
  padding: 0 69px 0 107px;
}

@media screen and (max-width: 1200px) {
  .footer__nav_list .block:first-child .footer__nav {
    padding: 0 52px 0 40px;
  }

  .footer__nav_list .block:last-child .footer__nav {
    padding: 0 35px 0 53px;
  }
}

.footer__nav_list .divider {
  width: 3px;
  height: 100%;
  border-radius: 80%;
  background: -o-linear-gradient(
    270.13deg,
    #343045 0.47%,
    #343045 0.47%,
    #c0b7e8 35.21%,
    #8176af 68.91%,
    #343045 99.5%
  );
  background: linear-gradient(
    179.87deg,
    #343045 0.47%,
    #343045 0.47%,
    #c0b7e8 35.21%,
    #8176af 68.91%,
    #343045 99.5%
  );
}

@media screen and (max-width: 968px) {
  .footer__nav_list .divider {
    display: none;
  }

  .footer__nav_list .block .footer__nav {
    padding: 0 !important;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.footer__nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.footer__nav-link:hover {
  color: #8176af;
}

@media screen and (max-width: 500px) {
  .footer__nav {
    display: none;
  }
}

.footer__divider {
  width: 100%;
  border-radius: 95%;
  height: 1px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#343045),
    color-stop(34.9%, #c0b7e8),
    color-stop(68.75%, #8176af),
    to(#343045)
  );
  background: -o-linear-gradient(right, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
  background: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
}

.footer__sub_footer {
  padding: 49px 0 59px;
}

.footer__sub_footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.82px;
  text-align: center;
}

.footer__sub_footer br {
  display: none;
}

@media screen and (max-width: 500px) {
  .footer__sub_footer {
    padding: 38px 0 90px;
  }

  .footer__sub_footer p {
    letter-spacing: 1.82px;
    line-height: 300%;
  }

  .footer__sub_footer p span {
    display: none;
  }

  .footer__sub_footer br {
    display: block;
  }
}

.social_networks_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 650px) {
  .social_networks_wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .social_networks_wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    margin-top: 56px;
  }
}

.social_networks_wrapper h6 {
  font-size: 16px;
  font-weight: 700;
}

.social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.social_networks a {
  width: 34px;
  height: 34px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
}

.social_networks a:hover {
  border-color: #8176af;
}

.social_networks a img {
  width: 100%;
  height: 100%;
}
