/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

textarea {
  resize: none;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
}

button,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #302c42;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body.hidden {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #302c42;
}

body::-webkit-scrollbar-thumb {
  background-color: #a399cd;
  border-radius: 6px;
}

/* UI */
.button {
  border-radius: 40px;
  width: 154px;
  height: 48px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.4s;
}

.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.button.gradient_variant {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  transition: background 0.3s;
}

.button.gradient_variant:hover {
  background: #8176af;
}

.button.white_variant {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.heading span {
  color: #8176af;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1270px;
}

@media screen and (max-width: 1290px) {
  .container {
    padding: 0 23px;
  }
}

.input {
  padding: 27px 42px;
  border-radius: 40px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .input {
    padding: 18px 29px;
    font-size: 14px;
  }
}

.input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: opacity 0.3s;
}

.input:focus::placeholder {
  opacity: 0;
}

.textarea {
  border-radius: 40px;
  padding: 27px 42px;
  border: 2px solid #fff;
  min-height: 210px;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .textarea {
    padding: 18px 29px;
    font-size: 14px;
  }
}

.textarea::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: opacity 0.3s;
}

.textarea:focus::placeholder {
  opacity: 0;
}

/* Slider */
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 14px !important;
  font-weight: bold;
}

.swiper-button-wrapper {
  position: absolute;
  top: 50%;
  z-index: 1;
  background: #0e0e0e52;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
  width: 62px;
  height: 62px;
}

.swiper-button-wrapper .button-prev__content,
.button-next__content {
  background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.swiper-button-wrapper .button-prev__content svg {
  transform: rotate(180deg);
}

.swiper-button-wrapper.button_next {
  right: 6px;
}

.swiper-button-wrapper.button_prev {
  left: 6px;
}

/* Header */
.header {
  padding-top: 50px;
}

@media screen and (max-width: 500px) {
  .header {
    padding-top: 25px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .header__container {
    display: flex;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 500px) {
  .logo img:first-child {
    height: 60px;
  }

  .logo img:last-child {
    width: 46px;
    height: 28px;
  }
}

/*.logo img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #8176af;
}

@media screen and (max-width: 500px) {
  .nav {
    transform: translate(200%);
    transition: transform 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 25% 10% 10%;
    align-items: flex-end;
    z-index: 999;
    background: #2a2639;
  }

  .nav__link {
    font-size: 16px;
  }
  .nav.open {
    transform: translate(0);
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 38px;
}

@media screen and (max-width: 500px) {
  .header__buttons {
    display: none;
  }
}

.burger_menu {
  width: 33px;
  height: 26px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 7px;
  display: none;
}

@media screen and (max-width: 500px) {
  .burger_menu {
    display: flex;
    z-index: 1000;
  }
}

.burger_menu span {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  border-radius: 40px;
  transition: all 0.3s;
}

.burger_menu span:nth-child(2) {
  width: 70%;
}

.burger_menu.open span:nth-child(2) {
  display: none;
}

.burger_menu.open span {
  background: #c73d3d;
}

.burger_menu.open span:first-child {
  transform: rotate(45deg);
  margin-bottom: -11px;
}

.burger_menu.open span:last-child {
  transform: rotate(135deg);
  margin-bottom: 10px;
}

/* About */
.about_preview {
  display: grid;
  grid-template-columns: 45% 30%;
  justify-content: space-between;
  padding-top: 146px;
}

@media screen and (max-width: 500px) {
  .about_preview {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 54px;
    justify-content: center;
    align-items: center;
  }
}

.about_preview__content {
}

.about_preview__content p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 36px 0 66px;
}

@media screen and (max-width: 500px) {
  .about_preview__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 30px;
  }

  .about_preview__content .heading {
    text-align: center;
  }

  .about_preview__content p {
    display: none;
  }

  .about_preview__content button {
    width: 100%;
  }
}

.about_preview .ellipse_wrapper {
  background: #00000021;
  border-radius: 100px 100px 100px 240px;
  padding: 12px;
  overflow: hidden;
}

.about_preview .ellipse {
  overflow: hidden;
  border-radius: 100px 100px 100px 240px;
  background: #a3a3a3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about_preview .ellipse img {
  width: 100%;
  height: 100%;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;
}

.about__block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 20%;
}

@media screen and (max-width: 500px) {
  .about__block {
    grid-template-columns: 1fr;
  }
}

.about__block:nth-child(2) .about__block_text {
  margin: 42px 0 28px;
}

.about__block_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__block_content p {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .about__block_content {
    align-items: center;
    gap: 16px;
  }

  .about__block_content p {
    font-size: 26px;
  }
}

.text_with_arrow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.text_with_arrow:hover .arrow_line {
  width: 30px;
}

.text_with_arrow__chevron {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .text_with_arrow__chevron {
    display: none;
  }
}

.text_with_arrow .arrow_line {
  width: 50px;
  height: 3px;
  background: #c0b7e8;
  margin-right: -16px;
  transition: width 0.3s;
}

.text_with_arrow svg {
  fill: #c0b7e8;
  width: 25px;
  height: 25px;
}

.about__block_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@media screen and (max-width: 500px) {
  .about__block_text {
    display: none;
  }
}

.about__block_with_picture {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about__block_with_picture .line {
  position: absolute;
  z-index: -1;
  left: 0;
}

.about__block_with_picture .line:first-child {
  top: 25%;
}

.about__block_with_picture .line:last-child {
  top: 35%;
}

.about__block_with_picture .ellipse {
  transform-origin: 0 0;
  background: #a3a3a3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px 240px 100px 240px;
  overflow: hidden;
  width: 100%;
  height: 557px;
}

.about__block_with_picture .ellipse img {
  width: 100%;
  height: 100%;
}

.placing_variants {
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  border-radius: 90px;
  padding: 0; /* hz */
  margin: 88px 0 90px;
}

.placing_variants__container {
  width: 100%;
  padding: 48px 39px 48px 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .placing_variants__container {
    padding: 21px 11px 0 5px;
  }
}

.placing_variants_item {
  display: flex;
  gap: 24px;
  padding-left: 39px;
  border-right: 1px solid rgba(192.14, 183.37, 231.63, 0.33);
}

.placing_variants__container .swiper-slide:first-child {
  padding-right: 40px;
}

.placing_variants__container .swiper-slide:last-child .placing_variants_item {
  border-right: 0;
}

.placing_variants_item h6 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.placing_variants_item p {
  font-size: 14px;
  font-weight: 400;
  width: max-content;
}

@media screen and (max-width: 500px) {
  .placing_variants_item {
    border: 0;
  }
  .placing_variants_item p {
    width: auto;
  }
}

.services_technologies_wrapper {
  position: relative;
}

.services_technologies_wrapper .line {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

/* Services */
.services_section {
  position: relative;
}

.services {
  overflow: hidden;
}

.services .swiper-slide {
  border-radius: 40px;
}

.services__card {
  background: radial-gradient(100% 100% at 1677721515.63% 1677721417.09%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
  padding: 23px 35px 40px 25px;
}

.services__card_image {
  width: 219px;
  height: 219px;
  overflow: hidden;
  border-radius: 50%;
  background: #0e0e0e52;
  padding: 15px;
  margin: 0 auto 21px;
}

.services__card_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.services__card_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__card_title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 17.5px;
  border-bottom: 1px solid rgba(192.14, 183.37, 231.63, 0.33);
  width: max-content;
}

.services__card_description {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 21px 0 35px;
}

.services__card button {
  display: block;
  margin: 0 auto;
}

/* Technologies */
.technologies_preview {
  background: #211e2e;
  box-shadow: 0 4px 4px rgba(192.14, 183.37, 231.63, 0.01);
  position: relative;
  height: 300px;
  border-radius: 160px;
  margin-top: 114px;
}

@media screen and (max-width: 500px) {
  .technologies_preview {
    height: 164px;
    border-radius: 60px;
    overflow: hidden;
    margin-top: 56px;
  }
}

.technologies_preview__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
}

@media screen and (max-width: 500px) {
  .technologies_preview__wrapper {
    border-radius: 60px;
  }
}

.technologies_preview__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.technologies_preview__background img {
  width: 100%;
  height: 100%;
}

.technologies_preview__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.technologies_preview__content .heading {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .technologies_preview__content .heading {
    font-size: 16px;
  }
}

.technologies_preview__content_subtitle {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .technologies_preview__content_subtitle {
    font-size: 24px;
  }
}

.technologies_preview__button_wrapper {
  background: #0e0e0e52;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

@media screen and (max-width: 500px) {
  .technologies_preview__button_wrapper {
    display: none;
  }
}

.technologies_preview__button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.technologies_list {
  margin-top: 4px;
  position: relative;
  overflow: hidden;
}

.technologies_list .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 252px;
}

/* Steps */

.steps {
  position: relative;
  margin-top: 84px;
}

.steps__container {
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.steps__container .swiper-button-wrapper {
  top: 80%;
}

@media screen and (max-width: 500px) {
  .steps__container {
    margin-top: 36px;
  }
}

.steps__container .steps__background {
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .steps__background {
    display: none;
  }
}

.steps__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .steps__item {
    gap: 37px;
    align-items: center;
  }
}

.steps__item_count {
  width: 198px;
  height: 198px;
  border-radius: 50%;
  padding: 19.5px;
  background: #0d0d0d52;
}

.steps__item_text {
  color: #343045;
  font-size: 64px;
  font-weight: 700;
  border-radius: 50%;
  background: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__item_content {
  display: flex;
}

@media screen and (max-width: 500px) {
  .steps__item_content img {
    display: none;
  }
  .steps__item_content p {
    text-align: center;
  }
}

.steps__item_content p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

/* Contact us form */
.join_form_wrapper {
  padding: 90px 110px 84px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin: 120px 0;
}

@media screen and (max-width: 500px) {
  .join_form_wrapper {
    padding: 45px 21px 65px;
    margin: 80px 0;
  }
}

.join_form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join_form__content_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  width: max-content;
  padding-bottom: 30px;
}

.join_form__content_divider {
  width: 35%;
  border-radius: 95%;
  height: 1px;
  background: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
}

.join_form__content_subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin-top: 21px;
}

@media screen and (max-width: 500px) {
  .join_form__content_title {
    font-size: 24px;
    padding-bottom: 21px;
  }

  .join_form__content_subtitle {
    font-size: 24px;
    text-align: center;
  }
}

.join_form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .join_form {
    margin-top: 36px;
    gap: 22px;
  }
  .join_form button {
    width: 100%;
  }
}

.join_form_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .join_form_item {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}

.join_form input,
textarea {
  width: 100%;
}

/* Footer */
.footer {
  position: relative;
}

.footer .line {
  position: absolute;
  left: 0;
  top: -60%;
  width: 100%;
  z-index: -1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-bottom: 76px;
}

@media screen and (max-width: 500px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .footer__nav {
    display: none;
  }
}

.footer__divider {
  width: 100%;
  border-radius: 95%;
  height: 1px;
  background: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
}

.footer__sub_footer {
  padding: 49px 0 59px;
}

.footer__sub_footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.82px;
  text-align: center;
}

.footer__sub_footer br {
  display: none;
}

@media screen and (max-width: 500px) {
  .footer__sub_footer {
    padding: 38px 0 90px;
  }

  .footer__sub_footer p {
    letter-spacing: 1.82px;
    line-height: 300%;
  }

  .footer__sub_footer p span {
    display: none;
  }

  .footer__sub_footer br {
    display: block;
  }
}

.social_networks_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 500px) {
  .social_networks_wrapper {
    align-items: center;
    gap: 30px;
    margin-top: 56px;
  }
}

.social_networks_wrapper h6 {
  font-size: 16px;
  font-weight: 700;
}

.social_networks {
  display: flex;
  align-items: center;
  gap: 20px;
}
